<div class="container">
  <mat-card class="width-50-percents create-user-card">
    <mat-card-header>
      <mat-card-title>Create new user</mat-card-title>
      <a
        class="btn-close"
        mat-raised-button
        color="warn"
        [routerLink]="['/login']"
      >Cancel</a>
    </mat-card-header>
    <mat-card-content>
      <h4 class="error-header">{{error}}</h4>
      <form class="create-user-form" [formGroup]="form" (ngSubmit)="createUser(form.value)">
        <mat-form-field>
          <input
            matInput
            type="text"
            id="user-name"
            formControlName="name"
            placeholder="Name">
          <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
            Please enter a name
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            id="user-surname"
            formControlName="surname"
            placeholder="Surname">
          <mat-error *ngIf="form.get('surname').invalid && form.get('surname').touched">
            Please enter a surname
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="city_id" id="from-city">
            <mat-option
              value=""
              selected>Select a city</mat-option>
            <mat-option
              *ngFor="let city of cities"
              [value]="city._id">{{city.city_name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="login"
            id="user-login"
            placeholder="Login">
          <mat-error *ngIf="form.controls['login'].errors && form.controls['login'].touched">
            Please enter a login
          </mat-error>
          <mat-error *ngIf="form.controls['login'].hasError('minlength')">
            Login must be at least {{form.get('login').errors.minlength.requiredLength}} characters:
            now it equals {{form.get('login').errors.minlength.actualLength}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
            id="user-password"
            placeholder="Password">

          <mat-error *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
            Please enter a password
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('minlength')">
            Password must be at least {{form.get('password').errors.minlength.requiredLength}} characters:
            now it equals {{form.get('password').errors.minlength.actualLength}}
          </mat-error>
        </mat-form-field>
        <div class="buttons-wrapper">
          <button
            class="btn buttons-wrapper__item"
            mat-raised-button
            [disabled]="form.pristine"
            type="reset"
          >Reset</button>
          <button
            class="btn"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || error"
          >Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <h4 class="login-header">Already registered? <a [routerLink]="['/login']">Log in</a></h4>
</div>
