<div class="container">
  <mat-card class="card">
    <mat-card-header class="card-header">Enter login and password</mat-card-header>
    <mat-error class="mat-error-handle">{{message}}</mat-error>
    <mat-card-content>
      <form [formGroup]="form" class="form" (ngSubmit)="submit(form.value)">
        <mat-form-field>
          <label for="login"></label>
          <input
            type="text"
            matInput
            placeholder="Login"
            formControlName="login"
            id="login"
          >
          <mat-error *ngIf="form.get('login').touched && form.get('login').invalid">
            Please, enter a login
          </mat-error>
          <mat-error *ngIf="form.controls['login'].hasError('minlength')">
            Login must be at least {{form.get('login').errors.minlength.requiredLength}}.
            Now is equal {{form.get('login').errors.minlength.actualLength}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label for="password"></label>
          <input
            type="password"
            matInput
            formControlName="password"
            id="password"
            placeholder="Password"
          >
          <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
            Please, enter a password
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('minlength')">
            Login must be at least {{form.get('password').errors.minlength.requiredLength}}.
            Now is equal {{form.get('password').errors.minlength.actualLength}}
          </mat-error>
        </mat-form-field>
        <button
          class="btn-submit"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittedForm || form.invalid"
        >Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  <h4 class="login-header">Do not have an account yet? <a [routerLink]="['/register']">Sign up</a></h4>
</div>
